name: Final Fix Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 
        
    - name: Install Libraries
      run: |
        pip install --upgrade pip
        pip install moviepy opencv-python numpy pyinstaller imageio imageio-ffmpeg decorator
        
    - name: Build EXE (Clean Version)
      run: |
        pyinstaller --onefile --name="MyVideoTool" main.py --hidden-import=moviepy --copy-metadata=imageio --copy-metadata=requests
        
    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: Final_Software
        path: dist/MyVideoTool.exe
